.paleta-color {
  --rojo: #ff0000;
  --verde: #00ff00;
  --azul: #0000ff;
  --chocolate: #955715;

  --pequeno: 40px;
  --mediano: 80px;
  --grande: 120px;
}

/*
#rojo-grande {

}

.verde-mediano {

}
*/

[azul-pequeño] {
  color: var(azul);
  font-size: var(pequeno);
}

li {
  color: var(chocolate);
}