/*Variables  Globales*/
/*No es necesario llamarlas en la clase :root, siempre que se apliquen a un 
id, clase, atributo... se le aplicara su contenido*/
/*Su nombre ha de ser root*/
:root {
  --margen: 100px
}



/*BEGIN Variables contextuales, en contexto definido o --locales--*/
/*Es necesario que el elemento al que se aplicara la variable o su alguno superior
contenga la clase "tool-box" en este caso, la que contiene la definición de las 
 variables.*/
.tool-box { 
  --rojo: #ff0000;
  --verde: #00ff00;
  --azul: rgb(0, 0, 255);
  --chocolate: #955715;

  --pequeno: 20px;
  --mediano: 40px;
  --grande: 60px;
}
/*END*/


#rojo-grande {
  color: var(--rojo, violet); /*Variable local*/
  font-size: var(--grande); 
}

.verde-mediano {
  color: var(--verde, violet); /*Variable local*/
  font-size: var(--mediano); 
}

[att="azul-pequeño"] {
  color: var(--azul, violet); /*Variable local*/
  font-size: var(--pequeno); 
}

li {
  color: var(--chocolate, violet);  /*Variable local*/
}

ul {
  margin-left: var(--margen); /*Variable global*/

}